<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar justify-content-center"
     style="background-color: darkslategray; margin-bottom: 20px">
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/}">Home</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/trainers/all}" sec:authorize="isAuthenticated()">Trainers list</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/trainers/new}" sec:authorize="isAuthenticated()">Add trainer</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/proxy/logs}" sec:authorize="isAuthenticated()">Logs</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand btn btn-outline-primary" th:href="@{/sign-in}" sec:authorize="!isAuthenticated()">Sign In</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand btn btn-outline-primary" th:href="@{/sign-out}" sec:authorize="isAuthenticated()">Sign out</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand btn btn-outline-primary" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
    </div>
</nav>
<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>