<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Secure app</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:insert="header"></div>
<div class="container text-center">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Trainers</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <!--          <th scope="col">Id</th>-->
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trainer: ${trainers}">
                    <!--          <td th:text="${trainer.id}" />-->
                    <td th:text="${trainer.firstName}" />
                    <td th:text="${trainer.lastName}" />
                    <td th:text="${trainer.email}" />
                    <td th:text="${trainer.phone}" />
                    <td>
                        <div class="container">
                            <a class="btn btn-outline-primary" th:href="@{/trainers/delete/{id}(id=${trainer.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>